.collection-preview{

    display: flex;
    flex-direction: column;

    .title{
        font-size: 28px;
        margin-bottom: 20px;
       
    }
    .preview{
        display: flex;
        justify-content: space-between;
    }
}